body{
    background-color: black !important;
    color: #fff;}

.netflix-header{
    justify-content: center;
    margin: 20px 16px;
    color: #fff;
    background: black;
    display: flex;}

.bold-price{
    font-weight: bold;
    font-size: 400;
    color: #fff;
    padding-left:3px;}

.link-primary{
    padding-left: 5px;
}

.badge{
    background-color: red;
    color: white;
    font-size: smaller;
    height: 15px;
    padding: 3.2px 8px;
    display: flex;
    margin-right:8px;
    align-content: center;
    flex-wrap: wrap;
    border-radius: 12px;}

.header-image{
    width: 100%;
    height: 55vh;
    margin: 0 auto;
    border-bottom: 5px solid #222;
    padding-top: 20px;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url("../../src/assets/images/netflix/banner.jpeg");
    background-size: cover;}

nav{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;}

.netflix-logo{
    cursor: pointer;
    position: relative;
    left: 100px;
    width: 150px;}

.language-btn{
    border: 1px solid #fff;
    background: transparent;}

nav button{
    border:0;
    outline: 0;
    background: #db0001;
    color: #fff;
    padding: 7px 20px;
    font-size: 12px;
    border-radius: 4px;
    position: relative;
    right: 100px;
    margin-left:10px;
    cursor: pointer;}

.header-content{
    position: absolute;
    top: 40%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%)}

.header-content h1{
    font-size: 60px;
    line-height: 70px;
    font-weight:800;
    max-width:650px;}

.header-content h3{
    font-weight: 400;
    bottom:30px;
    position: relative;}

.header-content p{
    bottom:30px;
    position: relative;}

.netflix-email{
    position:relative;
    background: #fff;
    border-radius: 4px;
    display:flex;
    bottom: 30px;}

.netflix-email input{
    flex: 1;}

.netflix-email button{
    background: #db0001;
    color: #fff;
    border: 0;
    font-size: 16px;
    cursor: pointer;
    padding: 15px 30px;}

.container-tv{
    padding: 50px 12%;
    font-size: 22px;
    border-bottom: 5px solid #222;}

.row{
    display: flex;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    padding: 50px 0;}

.enjoy-tv{
    flex-basis: 50%;
    margin-bottom: 20px;}

.enjoy-tv-img{
    flex-basis: 50%;
    margin-bottom: 20px;}

.bird-box-tv{
    display:block;
    height: 375px;
    width: 80%;
    margin: auto;}

.container-tv h2{
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 20px;}

.faq-header{
    padding: 10px 12%;
    text-align: center;
    font-size: 18px;}

.faq-header h2{
    font-weight: 500;
    font-size: 40px;}

.accordion{
    margin: 60px auto;
    width: 100%;
    max-width: 750px;}

.accordion li{
    list-style: none;
    width: 100%;
    padding: 5px;}

.accordion li label{
    display: flex;
    align-items: center;
    padding: 20px;
    font-size: 18px;
    font-weight: 500;
    background: #222;
    margin-bottom: 2px;
    cursor: pointer;
    position: relative;}

label::after{
content: "+";
position: absolute;
font-size: 34px;
transition: transform 0.5s;
right: 20px;}

input[type="radio"]{
    display:none;}

.accordion .accordion-content{
    background: #303030;
    text-align: left;
    padding: 0 20px;
    max-height: 0; 
    overflow: hidden;
    transition: max-height 0.5s, padding 0.5s}

.accordion input[type="radio"]:checked + label + .accordion-content{
    max-height: 600px;
    padding: 30px 20px;}

.accordion input[type="radio"]:checked + label::after{
    transform: rotate(135deg);}

.faq-header .netflix-email{
    max-width: 600px;
    position: relative;
    left: 24px;
    margin: 20px auto 60px;}

.faq-header small{
    font-size: 13px;
    position: relative;
    align-items: center;
    justify-content: center;
    left: 19px;
    bottom: 30px;}

.card-img-top{
    max-width: 10em;
    margin: 4px;}
